@import "tailwindcss";

@keyframes bounce-horizontal {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(8px);
    }
  }
  
  .animate-bounce-horizontal {
    animation: bounce-horizontal 1s infinite;
  }

  :root {
    --primary-blue: #4A90E2;
    --secondary-blue: #9DCDEB;
    --tertiary-blue: #639EDA;
  }